[program:django]
command=/usr/bin/python3 {{ django_manage_path }} runserver 0.0.0.0:8000
directory={{ django_app_path }}/
autostart=true
autorestart=true
stderr_logfile=/var/log/supervisor/django.err.log
stdout_logfile=/var/log/supervisor/django.out.log
user=vagrant